<div class= "container">
  <div class= "row">
    <div class= "mx-auto mb-5">
      <h4>Life Hack Note</h4>
    </div>
  </div>
  <div class= "col-md-6 mx-auto text-center">
      <p class= "mb-5">退会手続きをされますと、全ての投稿が削除され、
        再度ご利用をいただく場合には、新規登録のお手続きが必要になります。本当に退会してよろしいでしょうか?</p>
      <%= link_to "Unsubscribe",  withdrawal_path, method: :patch, 
        data: { confilm: "本当に退会しますか？" }, class:"card-link btn btn-danger" %>
      <%= link_to "Cancel", edit_user_path(current_user), class:"card-link btn btn-success" %>  
  </div>
</div>

