<div class= "main-visual">
    <div class="main-visual-title">
        <h1>Life Hack Note</h1>
    </div>
    
  </div>
  <div class= "container">
      <div class= "conatiner-title">
          <h3>About</h3>
      </div>
    <div class= "container-contents">
        
    </div>  
  </div>