<div class="wrapper">
  <div class="col info">
    <div id="top-info">
      <h2 class= "top-title">Sharing Genius Life Hacks</h2>
      <p class= "top-text">あなたの持っているLife Hacksを共有し、困っていることがあれば検索・保存</p>
      <p class= "top-text">生活を便利にする思いもよらないアイディアがここに</p>
      <%= link_to "Lets get started", new_user_session_path, class: "link_top" %> 
    </div>
  </div>
  <div class="col image">
    <div class="top-image">
      
    </div>
  </div>
</div>