// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.dropdown-toggle{
float: right;
}

.blockquote {
  margin-bottom: 0px;
  font-size: 15px;
.card-title {
  color: #000000 ;
}
}

.dropdown-item{
  padding: 5px 0;
  
}