// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// user my_page


.card.profile, .card.user-card {
  position: sticky;
  top: 50px;
}

.fas.fa-cogs.edit {
  font-size: 1.5em;
   color:#99b6b4;
   margin-top: 15px;
}

.bookmark {
  color: #1F1E23;
}
.bookmark:hover {
  color: #1F1E23;
}

#back {
  position: fixed;
  right: 30px;
  bottom: 40px;
}
#back, i {
  font-size: 1.5em;
  color:#99b6b4;
}