<footer>
  <div class= 'row'>
    <div class= 'col footer'>
      <div class= 'footer-title'>
        <h3>Life Hack Note</h3>
        <p>Sharing Genius Life Hacks</p>
      </div>
      <div class= 'footer-subtitle'>
        <small>© 2011-2021 Lifehacknote portfolio.</small>
      </div>
    </div>
    <div class= 'col footer'>
      <div class= 'footer-column'>
        <div class= 'footer-column-title'>
          <P><strong>Lighe hack Note</strong></P>
        </div>
        <div class= 'footer-column-item'>
          <%= link_to 'お問い合わせ', new_inquiry_path, class:'link_to' %>
          <%= link_to '利用契約', "",  class:'link_to' %>
          <%= link_to 'プライバシー', "" ,  class:'link_to'%>
        </div>
      </div>
    </div>
  </div>
</footer>